---
layout: null
---
<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ site.title }}</title>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>
<body>

<div class="page-wrap">

  {% include masthead.html %}

  <div class="home-columns">

    {% include nav-coluna.html %}

    <main class="home-main">
      <p class="about-this-title">about this</p>
      <p class="about-this-text">{{ site.description }}</p>

      <div id="letterboxd-embed-wrapper-tc">Loading...</div>
      <h3 class="letterboxdtitulo">Chek out my latest film logs</h3>
          <script>
            fetch('https://lb-embed-content.bokonon.dev?username=guiolhermer')
            .then(response => response.text())
            .then(data => {
            document.getElementById('letterboxd-embed-wrapper-tc').innerHTML = data;
            });
          </script>
    </main>

    <aside class="coluna-geral-esquerda">
      <p class="titulo-latest-feelings">latest feelings</p>
      <div class="box-feelings"> {% assign feelings = site.data.feelings | sort: 'date' | reverse %} {% for feeling in feelings %}
        <div class="feeling-item">
          <p class="data-feeling">{{ feeling.date | date: '%d/%m' }}</p>
          <p class="texto-dizer-esquerda">{{ feeling.text }}</p>
        </div> {% endfor %}
      </div>

      <div class="followbuttom">
        <iframe src="https://nekoweb.org/frame/follow" frameborder="0" width="130" height="17"></iframe>
      </div>
      

    </aside>

  </div>

</div>

</body>
</html>
