<nav class="coluna-navegacao">
  <ul class="lista-navegacao">
    <li><a href="{{ '/' | relative_url }}">home</a></li>
    <li><a href="{{ '/diario/' | relative_url }}">sentimentos difíceis</a></li>
    <li><a href="{{ '/comuunn/' | relative_url }}">comuunn </a></li>
    <li><a href="{{ '/galeria/' | relative_url }}">galeria</a></li>
    <li><a href="{{ '/sobre/' | relative_url }}">sobre mim</a></li>
    <li><a href="{{ '/guestbook/' | relative_url }}">livro de visitas</a></li>
  </ul>

  <div class="mybuttons">
    <img class="botao-1-comuunn" alt="botao comuun 1" style="width: 99px; height: 42px;" src="{{ '/assets/images/botao-1-comuun.gif' | relative_url }}">
  </div>   
  
</nav>