<nav class="coluna-navegacao">
  <ul class="lista-navegacao">
    <li><a href="{{ '/' | relative_url }}">home</a></li>
    <li><a href="{{ '/diario/' | relative_url }}">hard feelings</a></li>
    <li><a href="{{ '/comuunn/' | relative_url }}">comuunn</a></li>
    <li><a href="{{ '/galeria/' | relative_url }}">art gallery</a></li>
    <li><a href="{{ '/sobre/' | relative_url }}">about me</a></li>
  </ul>

  <img src="{{ '/assets/images/botao-1.gif' | relative_url }}" width="88" height="31" alt="botão do comuunn" class="botao-proprio">

</nav>

