<nav class="coluna-navegacao">
  <ul class="lista-navegacao">
    <li><a href="{{ '/' | relative_url }}">home</a></li>
    <li><a href="{{ '/diario/' | relative_url }}">hard feelings</a></li>
    <li><a href="{{ '/comuunn/' | relative_url }}">comuunn</a></li>
    <li><a href="{{ '/galeria/' | relative_url }}">art gallery</a></li>
    <li><a href="{{ '/sobre/' | relative_url }}">about me</a></li>
  </ul>

  <div class="mybuttons">
    <img class="botao-1-comuunn" alt="botao comuun 1" style="width: 95px; height: 38px;" src="{{ '/assets/images/botao-1-comuun.gif' | relative_url }}">
  </div>

</nav>